.btns{opacity: 0;position: fixed;z-index: 11;right: 8rem;bottom: 0;width:48px;height: 48px;transition: height ease .3s, opacity .5s linear, bottom .5s linear;}

.btns.fix{position: absolute;}
.btns div{overflow: hidden;position: absolute;right: 0;width: 48px;height: 48px;border: 1px solid #eee;border-radius: 24px;box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);box-sizing: border-box;background: #fff;transition: all .3s ease;}
.btns .btn_top{bottom: 0;}
.btn_contact{z-index: 11;}
.btns .btn_contact:hover{width: 140px;}
.btn_contact span{opacity: 0;line-height: 48px;transition: all .3s ease;}
.btns a{display: block;position: absolute;width: 100%;height: 100%;font-size: 1.4rem;text-align: center;}
.btns i{position: absolute;top: 24px;right: 24px;transform: translate(50%,-50%);transition: all .3s ease;}
.btn_top i{font-size: 1.8rem;}
.btn_contact:hover a{width: 100%;}
.btn_contact:hover span{opacity: 1;display: inline-block;position: absolute;left: 20px;}
.btn_top:hover i{top: 18px;}
.btns.active{height: 11rem;}

.btns p,.btns a,.btns i{opacity: 1;color: #333;}

#wrap.active .btns{opacity: 1;bottom: 5%;}
