/* reset.css */
@import url(../css/reset.css);
/* header.css */
@import url(../css/header.css);
/* footer.css */
@import url(../css/footer.css);
/* spot.css */
@import url(../css/spot.css);
/* scroll_down.css */
@import url(../css/scroll_down.css);
/* scroll_down.css */
@import url(../css/btns.css);
/* font.css */
@import url(../css/font.css);

/* sub1.css */
/* common */
body::-webkit-scrollbar {
  display: none;
}
body {
  -ms-overflow-style: none; /* 인터넷 익스플로러 */
  scrollbar-width: none; /* 파이어폭스 */
}
html{font-size: .54vw}
:root{
 --font-family:
	'Montserrat', 's-core_dream', "나눔고딕", NanumGothic, "Nanum Gothic","돋움", Dotum, Arial, sans-serif;
}
body{font-family: var(--font-family);color: #333;font-size: 1.4rem;}
a{font-weight: 600;text-decoration: none;color: #fff;}
/* 색변화 공용 */
#wrap.black #header p,#wrap.black #header a,#wrap.black #header i{opacity: 1;color: #000;}

#wrap.black .scroll_down p{color: #fff;}
#wrap.black .scroll_down>span:after{background: #fff;}
#wrap.black .scroll_down>span{border-color: #fff;}
/* layout */
#wrap{display: flex;width: 100%;;flex-direction: column}
  #header{position: absolute;top: 0;left: 0;z-index: 11;width: 100%;height: 132px;padding-top: 32px;}
    .header_inner{display: flex;width: 100%; height: 132px;padding: 0px 8rem 0;box-sizing: border-box;align-items: center;flex-direction: row;justify-content: space-between;}
      .header_left{display: flex;position: relative;z-index: 11; height: 36px; align-items: center;}
    .gnb{position: absolute;top: 0px;left: 0;width: 100%;height: 100%;box-sizing: border-box;text-align: center;}
    .gnb_side{visibility: hidden;display: block;position: fixed;top: 0;right: 0;width: 100%;height: 100%;}
  #container{width: 100%;}
    #content{position: relative;width: 100%;}
      .content_wrap{margin: 0 30px;padding-bottom: 100px;border-bottom: 1px solid #eee;box-sizing: border-box;}
        .form_wrap{width: 80%;min-width: 1490px; margin: 0 auto;padding: 14rem 25rem;box-sizing: border-box;background: #f7f7f7;letter-spacing: -1px;}
  #footer{position: relative;width: 100%;padding: 8.8rem 0 3rem;box-sizing: border-box;}
    .footer_inner{width: 100%;max-width: 1760px;margin: 0 auto;}
/* container */
/* content */
.txt_box{width: 100%;margin-bottom: 80px;}
.txt>h2{color: #fff;}
.txt_box h3{margin: 140px 0 80px;text-align: center;font-weight: 700;font-size: 4rem;color: #000;letter-spacing: -1px;}
.txt_box p{color: #000;font-size: 4rem;font-weight: 600;text-align: center;}
.txt_box strong{color: #00AFEB;font-weight: 600;}
/* form */
.form_top{width: 100%;}
.form_top::after{content: "";display: block;clear: both;}
.form_top .form_left{float: left;width: 48%;}
.form_top .form_right{float: right;width: 48%;}
.form_wrap label{display: block;font-size: 2rem;font-weight: 700;color: #000;}
.form_wrap input{font-size: 1.4rem;font-weight: 600;font-family: var(--font-family);}
.form_wrap span{color: red;}
.form_wrap input{display: block;width: 100%;height: 50px;padding-left: 16px;margin: 20px 0;box-sizing: border-box;border: 1px solid #d1d1d1;
;letter-spacing: -1px;}
.form_wrap textarea{width: 100%;height: 20rem; padding: 16px;margin: 20px 0;box-sizing: border-box;border: 1px solid #d1d1d1;font-family: var(--font-family);letter-spacing: -1px;resize: none;}
.form_wrap .politics h4{font-size: 2.2rem;font-weight: 700;color: #000;}
#container .form_wrap .txt{height: 20rem;padding: 16px;background: #fff;border: 1px solid #d1d1d1;overflow-y: scroll;margin: 20px 0;}
#container .form_wrap .txt p,.txt li{line-height: 2.5;font-size: 1.5rem;color: #717171;font-weight: normal;letter-spacing: 0;}
#container .form_wrap .form_wrap p{text-align: left;font-weight: normal;color: #717171;letter-spacing: 0;}
.form_wrap .box_wrap{display: flex;align-items: center;justify-content: center;}
.form_wrap .box_wrap input{width: 24px;height: 24px;margin-right: 10px;border-radius: 0;border: 1px solid #000;}
.form_wrap .agree{text-align: center;}
.form_wrap .agree{font-size: 1.4rem;font-weight: normal;color: #555;}
.form_wrap input[type="submit"]{margin: 50px auto 0;padding-left: 0;width: 28%;height: auto;border: none;background: #333;color: #fff;font-size: 2rem;font-weight: 600;line-height: 3.5;}
/*
css 순서
1.
display, visibility, overflow, float, clear, position, top, right, bottom, left, z-index,
2
BOX
width, height, margin, padding, border
3
background
4
font,color, letter spacing, text align, text decoration, text indent, vertical align, white space
5
기타 위에 언급되지 않은 나머지 속성들로 폰트의 관련 속성 이후에 선언
*/

/* 반응형 */
@media screen and (max-width: 1820px) {
  html{font-size: .6vw;}
  #header .header_inner{padding: 0 32px;}
  .btn_sitemap{right: 32px;}
  /* footer */
  #footer{padding-left: 30px;padding-right: 30px;}
  .footer_right{width: 60%;}
}
@media screen and (max-width: 1780px) {
  .btns{right: 30px}
}


@media screen and (max-width: 1550px) {
  html{font-size: .8vw;}
  body{font-size: 1.1rem;}
  /* header */
  .gnb>.gnb_inner{margin: 0 auto;}
  .gnb>.gnb_inner>ul>li h3 a{font-size: 1rem;}
  .gnb>.gnb_inner>ul>li{width: 6rem;}
  .header_inner .depth2>li a{font-size: 1rem;}
  /* content */
  .form_wrap{width: auto;min-width: 0;}
  /* footer */
  #footer{font-size: 1rem;}
  .footer_left dt{width: 5rem;}

  /* scroll_down */
  .scroll_down{left: 3rem;bottom: 4.5rem;}
}


@media screen and (max-width: 1270px) {
  html{font-size: .8vw;}
  body{font-size: 1.1rem;}
  /* header */
  #header{padding: 0;height: 80px;}
  .header_inner{padding: 0 30px;height: 100%;background: #fff;transition: background .5s ease;}
  #header.top .header_inner{background: transparent;}
  #header h1.logo{width: 120px;height: 30px;background-image: url(../images/logo_b.png); background-size: contain;}
  #header.top h1.logo{background-image: url(../images/logo.png);}
  #header .top_menu dd>a{line-height: 30px;color: #000;}
  #header .top_menu dd>a::after{background: #000;}
  #header.top .top_menu dd>a{color: #fff;}
  #header.top .top_menu dd>a:after{background: #fff;}
  .btn_sitemap::before, .btn_sitemap::after{background: #000;transition: all .5s ease;}
  #header.top .btn_sitemap::before,#header.top .btn_sitemap::after{background: #fff;}
  #header .btn_sitemap.on::before,#header .btn_sitemap.on::after{background: #000;}
  .btn_sitemap.on::before,.btn_sitemap.on::after{width: 100%;position: absolute;left: 50%;top: 50%;}
  .btn_sitemap.on::before{transform: translate(-50%,-50%) rotate(-45deg);}
  .btn_sitemap.on::after{transform: translate(-50%,-50%) rotate(45deg);}
  .btn_sitemap.on{width: 30px;height: 30px;}
  /* gnb */
  .gnb{display: none;}
  .gnb_side.on{z-index: 11;visibility: visible;}
  .gnb_side .dimm{opacity: 0;position:fixed;left: 0;top: 0;width: 100vw;height: 100vh;background: rgba(0,0,0,0.5);transition: opacity .5s linear;}
  .gnb_side.on .dimm{opacity: 1;}
  .gnb_side .gnb_inner{z-index: 33;position: absolute;right: 0;top: 0;width: 280px;height: 100%;padding-top: 80px; ;background: #fff;transform: translateX(100%);transition: all .3s linear;}
  .gnb_side.on .gnb_inner{transform: translateX(0%);}
  .gnb_side a{color: #333;letter-spacing: 0;}
  .gnb_side .gnb_inner>ul{display: flex; flex-direction: column;}
  .gnb_side .gnb_inner>ul>li{flex: 1;border-top: 1px solid #ddd;box-sizing: border-box;}
  .gnb_side .gnb_inner>ul>li:last-of-type{border-bottom: 1px solid #ddd;}
  .gnb_side .gnb_inner>ul>li>h3>a{display: block;position: relative;padding: 0 30px;line-height: 50px;font-size: 17px;transition: color .3s linear;}
  .gnb_side .gnb_inner>ul>li>h3>a::before,.gnb_side .gnb_inner>ul>li>h3>a::after{content: "";display: block;position: absolute;right: 20px;top: 50%;margin-top: -1px;;width: 10px;height: 2px;background: #333;}
  .gnb_side .gnb_inner>ul>li>h3>a::after{opacity: 1;rotate: 90deg;}
  .gnb_side .gnb_inner>ul>li.on>h3>a::before{background: #00afeb;}
  .gnb_side .gnb_inner>ul>li.on>h3>a::after{opacity: 0;}
  .gnb_side .gnb_inner>ul>li.on>h3>a{color: #00afeb;}
  .gnb_inner>ul>li .depth2{overflow: hidden;background: #f2f2f2;max-height: 0;}
  .gnb_inner .depth2 a{color: #888;font-size: 14px;font-weight: 300;}
  .gnb_inner>ul>li.on .depth2{opacity: 1;display: block;max-height: 320px;transition: all .4s linear 0s;}
  .gnb_inner>ul>li.on .depth2>li{line-height: 2;}
  .gnb_inner>ul>li.on .depth2>li:first-of-type{padding-top: 5px;}
  .gnb_inner>ul>li.on .depth2>li:last-of-type{padding-bottom: 5px;}
  .gnb_inner>ul>li .depth2 .depth3{display: none;}

  .gnb_inner .depth2>li>a{padding: 12px 30px;margin: 0;box-sizing: border-box;}
  /* container */
  .snb{display: none;}
  .btns{bottom: 3%;width: 7rem;height: 15rem;}
  .btns>div{width: 7rem;height: 7rem;border-radius: 35px;}
  .btns a{display: block;height: 100%;}
  .btns .btn_contact a>span{display: none;}
  .btns i{top: 50%;right: 3.5rem;font-size: 1.8rem;}
  .btns .btn_contact:hover{width: 70px;}
  .btns .btn_top i{font-size: 2.4rem;}
  
  /* content */
  .form_wrap{display: flex;padding: 10.5rem 0;justify-content: center;}
  /* footer */
  #footer{padding: 30px;font-weight: 300;}
  .footer_top::after{margin: 2rem 0;}
  .footer_left,.footer_right{float: none;width: 100%;}
  .footer_right{padding-bottom: 0;font-size: 1.5rem;}
  .footer_left dl{font-size: 1.6rem;letter-spacing: .2px;}
  .footer_left dt{width: 8rem;padding-right: 1rem;font-size: 1.6rem;font-weight: 700;}
  .footer_bottom{flex-direction: column;height: 60px;padding: 0;font-size: 1.5rem;}
  .footer_bottom>ul>li{padding-left: 0;padding-right: 4rem;}
}

@media screen and (max-width: 800px) {
  html{font-size: 1.2vw;}
  body{font-size: .8rem;}
  /* header */
  /* footer */
  #footer{padding: 30px;}
  #footer a{font-weight: 400;}
  .footer_top::after{margin: 2rem 0;}
  .footer_left,.footer_right{float: none;width: 100%;}
  .footer_right{display: none;}
  .footer_left dl{font-size: 1.6rem;font-weight: 400;letter-spacing: .2px;}
  .footer_left dt{width: 8rem;padding-right: 4rem;font-size: 1.5rem;font-weight: 600;}
  .footer_bottom{height: 80px;padding: 20px 0;font-size: 1.6rem;flex-direction: column;}
  .footer_bottom>ul>li{padding-left: 0;padding-right: 4rem;}
}